.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background: linear-gradient(135deg, #353535 0%, #353535 50%, #9575cd 50%, #9575cd 100%);

    font-family: "Rubik", sans-serif;
    color: #ffffff;
    @include respond(tab-land) {
        height: 100%;
        padding: 7rem 0;
        width: 100%;
    }
}
